@model TallerPractica.Models.Motor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Motor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label form="OptionMotro">Seleccion un tipo de Motor: </label>
                <div class="form-group">
                    <select id="TipoMotor" name="TipoMotor">
                        <option value="option1">Diesel</option>
                        <option value="option2">Gasolina</option>
                    </select>

                
            </div>
            <div class="form-group">
                <label asp-for="CaballoFuerza" class="control-label"></label>
                <input asp-for="CaballoFuerza" class="form-control" />
                <span asp-validation-for="CaballoFuerza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnioFabricacion" class="control-label"></label>
                <input asp-for="AnioFabricacion" class="form-control" />
                <span asp-validation-for="AnioFabricacion" class="text-danger"></span>
            </div>
            
               

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
