@{
    ViewData["Title"] = "Mi primera pagina";
}

<div class="text-center">
    <h1 class="display-4">Hola Somos el Grupo 4</h1>
    <h2class ="display-4">GOGOGOGOGOGOGOGOGOGO</h2class>
    <p>Dale click aqui: <a href="https://youtu.be/LhpRL3pL60c?si=d9Ui7Xe38l_k0LmG">Mandaria.INC por cierto tremenda cancion la del link deberias escuchar</a>.</p>

    <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&ab_channel=Duran">Haz click aqui! Te juro que no es un troleo</a>

</div>
