@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Integrantes: Jose Sanchez,Junior Espin, Xavier Gordillo y Mathew Baquero 
Tambien ayudo Mateo y Gordy... no sabia como hacer un repositorio en github
</p>
